.success-container {
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.button-link {
    color: var(--black-color) !important;
}

.signup_container {
    display: flex !important;
    flex-direction: column !important;
    margin: 0 auto !important;
    min-height: calc(100vh - 64px) !important;
    justify-content: center !important;
}


.lock {
    background-color: var(--purple-color) !important;
}

#button {
    margin-left: 16px !important;
    background-color: var(--purple-color) !important;
}
