.login_container {
    display: flex !important;
    flex-direction: column !important;
    margin: 0 auto !important;
    min-height: calc(100vh - 64px) !important;
    justify-content: center !important;
}
.lock {
    background-color: var(--purple-color) !important;
}

#btn {
    margin: 0 !important;
    background-color: var(--purple-color) !important;
}

